.wrapper {
    margin: 0 auto;
    width: 398px;
}

.img-carmel_s__pic {
    width: 374px;
    height: 666px;
    background-image: url(img/carmel_s__pic);
    backgrouns-size: 100%;
}

background { color: blueviolet;

}
header {
    background-color: plum;
  }
  body {
      background-color: plum
  }

 